
.charts {
  display: grid;
  grid-template-columns: repeat( 2, 1fr);
  gap: 16px;
}

.pluginName {
  font-weight: 700;
  text-align: center;
  margin-top: 16px;
}

.typeName {
  background-color: #d048b6;
  width: fit-content;
  color: #fff;
  border-radius: 4px;
  padding: 4px 12px;
  font-size: 16px;
  font-weight: 600;
}

.typeName {
  margin-top: 16px;
}

.pluginName:not(:first-child) {
  margin-top: 16px;
}

.loadingContainer {
  height: 100%;
}

.initialSearch {
  font-size: 24px;
  font-weight: 600;
  padding: 32px;
  background-color: #262626;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,.2);
  text-align: center;
  cursor: pointer;
  transition: 200ms background-color, color;
}

.initialSearch:hover{
  background-color: #323232;
}

.shortcutKey {
  background-color: #6c6969;
  border-radius: 3px;
  padding: 2px 4px;
  font-family: monospace;
}
