.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    a {
      text-decoration: none;
      color: rgba(156,163,175,1);
      padding: 8px 12px;
      font-weight: 600;
      font-size: 13px;
      text-transform: uppercase;
      border-radius: 3px;

      &:hover {
        color: #fff;
        transition: 200ms background-color, color;
      }
    }
  }
}

.searchBtn {
  outline: none;
  background-color: #121212;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,.2);
  padding: 8px 18px;
}
